{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react", "react-hooks",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "semi": ["error", "never"],
        "max-len": ["error", {
            "code": 150
        }],
        "object-curly-spacing": ["error", "always"],
        "no-tabs": "off",
        "no-mixed-spaces-and-tabs": "off",
        "require-jsdoc": "off",
        "react/prop-types": 0,
        "arrow-parens": ["error","as-needed"],
        "comma-dangle": ["error", "never"],
        "no-unused-vars": ["off", {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_",
            "caughtErrorsIgnorePattern": "^_"
        }],
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "trailingComma": "none",
                "useTabs": true,
                "semi": false,
                "bracketSpacing": true,
                "printWidth": 120,
                "endOfLine": "auto",
                "arrowParens": "avoid"
            }
        ]
    }
}
