# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE files
.idea
.vscode

# dependencies
backend/node_modules
node_modules/*

# temporary client build
backend/client/*

# environment variables
backend/config/.env
backend/config/data.js

# data
backend/data/*
backend/oracle/sql/*
backend/oracle/Balance Query

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# shell scripts
copy.sh

# temporary files
tr-api.tar.gz

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*